@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primaryText: #171717;
  --secondaryText: #ffffff;
  --accentText: #ffffff;
  --accent1: rgb(249, 74, 11);
  --accent2: rgb(106, 6, 110);
  --hover: #7c3aed;
  --hoverBackground: #f3e8ff;
  --hoverBackgroundText: #f3e8ff;
}

.dark {
  --background: #181818;
  --foreground: #ededed;
  --primaryText: #f7f7f7;
  --secondaryText: #171717;
  --accentText: #f7f7f7;
  --accent1: #ff5722;
  --accent2: #673ab7;
  --hover: #2563eb;
  --hoverBackground: #1e293b;
  --hoverBackgroundText: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.glass {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  border-radius: 0px 12px 0px 0px;
}
