@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primaryText: #171717;
  --accent1: rgb(249, 74, 11);
  --accent2: rgb(147, 0, 152);
  --hover: #42a5f5;
  --hoverBackground: #e0e0e0;
}

.dark {
  --background: #181818;
  --foreground: #ededed;
  --primaryText: #f7f7f7;
  --accent1: #ff5722;
  --accent2: #673ab7;
  --hover: #ffeb3b;
  --hoverBackground: #616161;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
